<div class="container text-center">
    <!-- Mensaje de error 404 -->
    <h1>404</h1>
    <p>{{ errorMensaje }}</p>

    <!-- Imagen de error -->
    <img [src]="errorImagen" alt="Imagen de error 404" class="error-image img-fluid">

    <!-- Botón para regresar a la página principal -->
    <a routerLink="/" class="btn btn-primary mt-3">Volver al Inicio</a>
    <footer class="bg-light text-center text-lg-start">
        <div class="text-center p-3">
          © 2024 Mi Tienda
        </div>
      </footer>
      

</div>